@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&family=Poppins&display=swap');

* {
  font-family: 'Poppins';
  transition: all 0.3s;
}

body {
  background-color: rgb(242, 192, 192);
}

.window {
  display: flex;
  
}